.player_container {
    width: 100%;
    padding: 0.7rem;
    border: 1px solid rgb(61, 61, 61);
    border-radius: 10px;
    color: rgb(2, 2, 2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: black;
  
    > * {
      padding: 1px 0;
      color: rgba(254, 243, 199, 0.781);
    }
  
    .title {
      font-size: 26px;
    }
  
    .controls-navigation-wrapper {
      display: flex;
      align-items: center;
      width: 100%;
    }
  
    .navigation {
      width: 100%;
      margin-left: 1rem;
  
      .navigation_wrapper {
        width: 100%;
        background-color: rgba(119, 119, 119, 0.781);
        height: 8px;
        border-radius: 30px;
        cursor: pointer;
  
        .seek_bar {
          width: 0;
          height: 100%;
          background-color: rgba(254, 243, 199, 0.781);
          border-radius: 30px;
        }
      }
    }
  
    .controls {
      display: flex;
      align-items: center;
  
      .btn_action {
        font-size: 2.5rem; /* Tamaño reducido */
        cursor: pointer;
  
        &:hover {
          color: rgba(214, 195, 119, 0.781);
        }
      }
  
      .pp {
        font-size: 2.5rem; /* Tamaño reducido */
      }
    }
  }
  